
waldo_project/.idea/workspace.xml
waldo_project/env
*.ipynb_checkpoints
.ipynb_checkpoints
*.jpg
*.jpeg
*.png
waldo_project/find-wally-master/weights.h5
waldo_project/find-wally-master/LICENSE
waldo_project/find-wally-master/README.md
waldo_project/our-model-for-wally/wally_trained.h5
.idea/workspace.xml
